# 0 = archivo mp3 (desarrollo)
# 1 = OBS + Linux
# 2 = OBS + Windows
MODE=0

# Seleccionar el servidor backend
SERVER_URL=https://localhost:8000/publish

# Para pruebas usar un archivo ejemplo
MP3_FILE=./media/audio.mp3

# Seleccionar la mezcla de audio a emitir (ver Readme):
# LINUX_DEVICE=alsa_output.pci-0000_00_1b.0.analog-stereo.monitor

# WINDOWS_DEVICE=Microphone

BITRATE=128000

CHUNK_SIZE=4096

# Token que autoriza publicar audio
PUBLISH_TOKEN=