# 0 = archivo mp3 (desarrollo)
# 1 = OBS + Linux
# 2 = OBS + Windows
MODE=0

# Seleccionar el servidor backend
SERVER_URL=https://localhost:8000/publish

# Para pruebas usar un archivo ejemplo, tener en cuenta el bitrate del archivo al configurar BITRATE más abajo
MP3_FILE=./media/audio-64k.mp3

# Seleccionar la mezcla de audio a emitir (ver Readme):
# LINUX_DEVICE=alsa_output.pci-0000_00_1b.0.analog-stereo.monitor

# WINDOWS_DEVICE=Microphone

BITRATE=64000

CHUNK_SIZE=4096

# Mono: '1', Stereo: '2'
AUDIO_CHANNELS='2'

# Muestreos disponibles: '48000', '32000', '16000' y '8000',
AUDIO_SAMPLES='48000'

# Token que autoriza publicar audio
PUBLISH_TOKEN=